<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Expenses</title>
    <style>
        h1{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Add Expenses</h1>
    <form action="/add-expenses" method="post">
        <div>
        <label for="type">What is the type of expense?</label>
        <input type="text" id="type" name="type" placeholder="Rent, Car payment, etc.">
        </div>

        <div>
        <label for="cost">What is the cost of the expense?</label>
        <input type="text" id="cost" name="cost" placeholder="$50,000.00">
        </div>
        <br>
        <div>
            <input type="Submit">
        </div>
        <br>
        <div>
            <input type="Reset">
        </div>

    </form>
    
</body>
</html>