
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <style>
        h1 {
            text-align: center;
        }
        body{
            background-color: azure;
        }

        p{
            text-align: center;
        }
    </style>
    
</head>
<body>
    <h1>Expense Tracker</h1>
    <p>Welcome to the expense tracker! Let us sort out all your financial needs!</p> 
    
    
    <div style="text-align: center;">
        <a href="/dashboard"><button>Dashboard</button></a>
        <a href="/add-income"><button>Add Income</button></a>
        <a href="/add-expense"><button>Add Expense</button></a>
        


    </div>

    
</body>
</html>
